<main class="news-container news-detail">
  <div class="news-title">{{title}}</div>
  <section class="news-info">
    <span>时间：XXX</span>
    <span>浏览次数：100</span>
  </section>
  <section class="news-content">
    {{{content}}}
  </section>
</main>
