*
  margin 0
  padding 0
  box-sizing border-box
body
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 14px
.container
  margin 10px auto
  width 1280px
  height calc(100vh - 80px)
  min-height 600px
  color #333
  background-color lighten(#f1f1f1, 50%)
