.header-wrap
  display flex
  justify-content center
  width 100%
  color #fff
  background-color #333
  .box
    display flex
    width 1280px
    height 60px
    justify-content space-between
    align-items center
    .left
      font-size 20px
      letter-spacing 1px
      
